/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* CSS */
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
/*********************
for all mobile devices
*********************/
@media (max-width: 560px) {
  .container{
    width: 90%;
  }
  .navbar{
    display: none;
  }
  .top{
    padding: 32px 0;
  }
  .first, .middle, .last{
    display: block;
    margin-bottom: 16px;
  }
  .first, .last{
    float: none;
  }
  .middle{
    margin-left: 0;
  }
  .banner-content h1{
    font-size: 11vw;
  }
  .banner-content p{
    font-size: 11px;
  }
  .item-gallery{
    grid-template-columns: auto;
    margin-top: -60px;
    margin-bottom: -165px;
  }
  .items{
    margin-bottom: 30px;
  }
  .c-gallery{
    flex-direction: column;
  }
  .c-item {
    flex-basis: 100%;
}
  .c-content img {
    max-width: 70%;
    height: auto;
    padding-left: 50px;
}
  .c-content a {
    position: absolute;
    background-color: #82ae46;
    color: white;
    bottom: 41px;
    left: 50px;
    display: inline-block;
    padding: 1px 7px;
    font-family: 'Poppins', sans-serif;
}
  .c-content {
    margin-bottom: -34px;
    height: 227px;
    position: relative;
}
  .second{
    background-image: none;
    padding-left: 6px;
  }
  .p-title h2 {
    font-size: 8vw;
    font-weight: 600;
    color: #000;
    font-family: "Poppins",Arial,sans-serif;
}
  .p-title p {
    font-size: 12px;
    font-weight: 500;
    color: black;
    opacity: 0.5;
    font-family: 'Poppins', sans-serif;
    margin: 20px;
}
  .p-gallery {
    display: grid;
    grid-template-columns: auto;
    column-gap: 21px;
    row-gap: 21px;
}
  .d-right h3 {
    font-size: 30px;
    font-weight: 600;
    color: #000;
    font-family: "Poppins",Arial,sans-serif;
}
  .d-right p {
    font-size: 12px;
    font-weight: 500;
    color: black;
    opacity: 0.5;
    font-family: 'Poppins', sans-serif;
    margin: 20px 0;
}
  .p-title h2 {
    font-size: 6vw;
    font-weight: 600;
    color: #000;
    font-family: "Poppins",Arial,sans-serif;
}
  .p-title p {
    font-size: 11px;
    font-weight: 500;
    color: black;
    opacity: 0.5;
    font-family: 'Poppins', sans-serif;
    margin: 20px;
}
.image-gallery {
    display: grid;
    grid-template-columns: auto;
}
.images img {
    width: 47%;
    height: auto;
    margin-bottom: 12%;
    margin-left: 99px;
}
.form-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 75px 0;
}
.form-title{
  margin-bottom: 20px;
}
.f-flex {
    display: flex;
    flex-direction: column;
}
.input input {
    padding: 17.3px 0px;
    font-size: 14px;
    font-weight: 100;
    color: black;
    padding-right: 163px;
    padding-left: 10px;
    border: none;
}
.form {
    width: 100%;
    background-color: #ebebe0;
}
.form-title p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: black;
    opacity: 0.5;
}
.form-title {
    margin-bottom: 20px;
    padding-right: 30px;
}
.footer-content {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 42px;
}
.footer-1, .footer-2, .footer-3, .footer-4{
  margin-bottom: 35px;
}
.footer-icon {
    margin-top: 20px;
}






}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

/*@media (min-width: 320px) and (max-width: 480px) {*/
  
  /* CSS */
  
}
